@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* styles.css */
.practiceform {
  @apply w-96 bg-gray-100 p-5 flex justify-center;
}

.practiceform label {
  @apply block text-lg font-semibold my-1.5;
}

.practiceform input[type="text"],
.practiceform input[type="number"] {
  @apply border p-4 border-[rgba(220,147,147,0.8)] rounded;
}

.practiceform input[type="submit"] {
  @apply block rounded p-1.5 my-2 mx-auto text-lg font-bold bg-pink-200 border border-[rgba(220,147,147,0.8)];
}

.error {
  @apply text-red-500 my-1;
}

.taskCard {
  @apply w-72 h-full bg-blue-300 text-white p-2.5 mb-7 rounded;
}

.inlineCard {
  @apply flex justify-between;
}

.iconPriority, .iconDelete {
  @apply p-1 text-lg;
}

.deleteButton {
  @apply text-white border-none bg-red-500 text-lg font-mono p-1 rounded;
}

.editButton {
  @apply text-white border-none bg-green-500 text-lg font-mono p-1 rounded;
}

.iconDelete:hover {
  @apply text-red-400;
}

.taskInfo {
  @apply text-azure text-lg p-1 text-center;
}

.taskInfoTask {
  @apply text-bisque text-lg;
}

.centerDiv {
  @apply w-full flex justify-center;
}

.cardDiv {
  @apply w-full flex justify-center;
}
.addTask {
  @apply absolute rounded-full border-none bg-blue-300 text-white text-lg bottom-0 right-0 p-2.5 m-7;
}
/* components/Navbar.module.css */
.navbar {
  @apply bg-blue-400 text-white p-4 mb-5;
}

.container {
  @apply flex justify-between items-center;
}

.brand {
  @apply text-xl text-white no-underline;
}

.menu {
  @apply list-none flex gap-4;
}

.menu li {
  @apply m-0;
}

.menu a {
  @apply text-white no-underline p-2;
}

.menu a:hover {
  @apply bg-gray-700 rounded;
}

.session {
  @apply font-bold;
}
.userDetails {
  @apply my-2 text-lg text-white w-72 flex;
}

.attribute {
  @apply w-24 text-white font-semibold;
}

.userCard {
  @apply w-72 bg-blue-300 text-white p-2.5 mb-7 rounded;
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
